!*.c
!*.h
!*.s
!*.lib
!*.axf
*.uvguix*
*.uvoptx
*.dbgconf
*.scvd
JLinkLog.txt
JLinkSettings.ini
*.TMP
*.log
*.plg
*.bak
*.dep
*.o
*.d
*.crf
*.tra
*.hex
*.lnp
*.sct
*.__i
*.htm
__Output/

*- 副本.c
*- 副本.h
